body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #65adb9;
}

nav h1 {
    color: #fff;
}
nav input{
    width: 25%;
}
nav input, nav select {
    padding: 5px;
    margin-left: 10px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

.menu-item button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.menu-item button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .menu-items {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    nav {
        flex-direction: column;
    }

    nav input, nav select {
        width: 100%;
        margin-top: 10px;
    }
}
